/* CSS file for styling general HTML pages
   (other than application pages)
*/

body {
  font-family: Times, serif;
  background-color: #f5f5eb;
  color: black;
  margin: 1% 1% 1% 1%;
}

h1 { 
  background-color: maroon;
  color: white;
  padding: .5em;
  text-align: center; 
}

a:link {
  color: maroon;
  background-color: #f5f5eb;
}

a:active {
  color: #ff6900;
  background-color: #f5f5eb;
}

a:visited {
  color: #ff6900;
  background-color: #f5f5eb;
}
