/* CSS file for styling IntlPop application */

* {
  margin: 0;
  padding: 0;
}

body, input, select, button {
  font-size: 14px;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

body {
  color: black;
}

h1 { 
  text-align: center; 
  font-size: 30px;
}

button {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Element-specific styling */
#container {
  position: relative;
  top: 0;
  left: 0;
  width: 742px;
  height: 532px;
  background-color: #efe;
}

#titlePanel{
  position: relative;
  top: 0px;
  width: 800px;
}

#aboutButton, #helpButton {
  position: relative;
  top: -32px;
  left: 622px;
}

#countrySelectPanel {
  position: relative;
  top: -20px;
  height: 436px;
  width: 728px;
}

#countrySelectMenu {
  position: absolute;
  top: 0px;
  left: 565px;
  height: 420px;
  width: 170px;
}

.tempLabelR {
  position: absolute;
  top: 65px;
  left: 50px;
}

.tempLabelC {
  position: absolute;
  top: 280px;
  left: 180px;
}

.regions {
  position: absolute;
  top: -10px;
  left: 10px;
}

.countries {
  position: absolute;
  top: 140px;
  left: 10px;
}

.area {
  position: absolute;
  top: 5px;
  left: 265px;
}

.currentField {
  position: absolute;
  top: 30px;
  left: 265px;
}

.scale {
  position: absolute;
  top: 55px;
  left: 265px;
}

#doSelect {
  position: absolute;
  top: 100px;
  left: 425px;
}

/* .output is where we send text messages to explain what is going on */
.output {
  position: absolute;
  top: 469px;
  height: 50px;
  width: 728px;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
