/* CSS file for styling IntlPop application */

* {
  margin: 0;
  padding: 0;
}

body, input, select, button {
  font-size: 14px;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

body {
  color: black;
}

h1 { 
  text-align: center; 
  font-size: 30px;
}

button {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#container {
  position: relative;
  top: 0;
  left: 0;
  width: 907px;
  height: 532px;
  background-color: #efe;
}

#titlePanel{
  position: relative;
  top: 10px;
  width: 900px;
}

#aboutButton, #helpButton {
  position: relative;
  top: -42px;
  left: 785px;
}

#countrySelectPanel {
  position: relative;
  top: -15px;
  height: 436px;
  width: 728px;
}

#countrySelectMenu {
  position: absolute;
  top: 0px;
  left: 710px;
  height: 420px;
  width: 190px;
}

.tempLabelC {
  position: absolute;
  top: 230px;
  left: 270px;
}

.countries {
  position: absolute;
  top: 45px;
  left: 5px;
}

.hover {
  position: absolute;
  top: 45px;
  left: 450px;
}

.currentSelection {
  position: absolute;
  top: 25px;
  left: 5px;
}

#doSelect {
  position: absolute;
  top: 0px;
  left: 635px;
}

/* .output is where we send text messages to explain what is going on */
.output {
  position: absolute;
  top: 469px;
  height: 50px;
  width: 893px;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
