/* mapstyle.css
*
* IntlPop!
* Nate Beatty
* May 2013
*/

/* Global Styles */

#map-box { /* A box that contains the map view */
	/* IMPORTANT: Change the size of the map container below */
	position: absolute;
	width: 698px;
	height: 418px;
	top: 69px;
	left: 5px;
	border: 1px solid gray; /* Set to match border on #countrySelectMenu */
}

#map {
	background: #eee;
	height: 100%;
	width: 100%;
}

#layer-control {
	position: relative;
	width: 100px;
	bottom: 60px;
	left: 10px;
	padding: 5px;
	background-color: #ddd;
	border: 1px solid #000;
	font-size: 10px;
}

/* Leaflet style overrides */

.leaflet-popup-content {
	text-align: center;
}

.leaflet-popup-content a {
	
}