/* Generic element styling */

* {
  margin: 0;
  padding: 0;
}

html, body {background: #efe;}

body, input, select, button {
  font-size: 12px;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

p {font-size: 14px;}

button {padding: 1px 4px;}

/* Layout */

#container {
  width: 1060px;
  height: 375px;
  margin: 0px auto;
}

#main {overflow: auto;}

#header {
  height: 20px;
  text-align: center;
}

#header h2 {
  font-weight: lighter;
  color: purple;
}

#pyramidPanel, #chartPanel, #simPanel {
  float: left;
  height: 300px;
}

#pyramidPanel {width: 350px;}

#chartPanel {
  width: 450px;
  overflow: auto;
}

#chartPanel #plotArea {
  width: 450px;
  height: 230px;
}

#chartPanel .fieldBox {
  float: left;
  height: 56px;
  width: 126px;
  margin: 0px 10px 10px;
  border: 2px solid #888;
}

#chartPanel .fieldBox button {width: 126px;}

#chartPanel .fieldBox p {
  text-align: center;
  padding-top: 10px;
}

#simPanel {
  width: 260px;
  text-align: center;
}

#simPanel p {
  margin-top: 5px;
}

#simPanel #box {
  padding: 10px;
  width: 220px;
  height: 195px;
  min-height: 40px;
  margin: 0px auto;
  border: 2px solid #888;
}

.currYearField, .currPopField {}
#simPanel .field0 {color: #995555;}
#simPanel .field1 {color: #559955;}
#simPanel .field2 {color: #555599;}


#output {
  height: 50px;
  border: 1px solid #888;
  padding: 2px 2px 2px 1px;
}

/* Elements */

/* Hidden Panels */
.targetPopup {
  display: none;
  position: fixed;
  width: 280px;
  height: 130px;
  padding: 10px;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  border: 4px solid red;
  background-color:#DEDFDE;
  z-index: 1000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.targetPopup p {margin-top: 10px;}

/*
.targetPopup .targetLabel {float: left;}
.targetPopup .targetInput {float: left;}
*/
