/* Generic element styling */

* {
  margin: 0;
  padding: 0;
}

html, body {background: #efe;}

body, input, select, button {
  font-size: 12px;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

p {font-size: 14px;}

button {padding: 1px 4px;}

/* Layout */

#container {
  width: 1060px;
  height: 375px;
  margin: 0px auto;
}

#main {overflow: hidden;}

#header {
  height: 20px;
  text-align: center;
}

#header h2 {
  font-weight: lighter;
  color: purple;
}

#pyramidPanel, #chartPanel, #simPanel {
  float: left;
  height: 300px;
}

#pyramidPanel {width: 350px;}

#chartPanel {
  width: 450px;
  overflow: hidden;
}

#chartPanel #plotArea {
  width: 450px;
  height: 230px;
}

#chartPanel .fieldBox {
  float: left;
  height: 56px;
  width: 126px;
  margin: 0px 10px 10px;
  border: 2px solid #888;
}

#chartPanel .fieldBox button {width: 126px;}

#chartPanel .fieldBox p {
  text-align: center;
  padding-top: 10px;
}

#simPanel {
  width: 260px;
  text-align: center;
}

#simPanel p {
  margin-top: 5px;
}

#simPanel #box {
  padding: 10px;
  width: 220px;
  height: 195px;
  min-height: 40px;
  margin: 0px auto;
  border: 2px solid #888;
}

.currYearField, .currPopField {}
#simPanel .field0 {color: #995555;}
#simPanel .field1 {color: #559955;}
#simPanel .field2 {color: #555599;}


#output {
  height: 50px;
  border: 1px solid #888;
  padding: 2px 2px 2px 1px;
}

/* Elements */

/* Hidden Panels */
.targetPopup {
  display: none;
  position: fixed;
  width: 280px;
  height: 130px;
  padding: 10px;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  border: 4px solid red;
  background-color:#DEDFDE;
  z-index: 1000;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.targetPopup p {margin-bottom: 10px;}
.targetPopup .closeButton {margin: 10px auto;}

#fertilityRatesPopup {
  display: none;
  position: fixed;
  width: 280px;
  height: 160px;
  padding: 10px;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  border: 4px solid red;
  background-color:#DEDFDE;
  z-index: 1000;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#fertilityRatesPopup p {margin-bottom: 10px;}
#fertilityRatesPopup .closeButton {
  position: relative;
  margin: 10px auto;
  top: -95px;
}

.birthInput { 
  width: 40px;
}

#birthlab1 { 
  position: relative;
  left: -70px;
}

#birthlab2 { 
  position: relative;
  left: -70px;
}

#birthlab3 { 
  position: relative;
  left: -70px;
}

#birthlab4 {
  position: relative;
  left: -70px;
}

#birthlab5 { 
  position: relative;
  top: -116px;
  left: 150px;
  width: 110px;
}

#birthlab6 { 
  position: relative;
  top: -116px;
  left: 150px;
  width: 110px;
}

#birthlab7 { 
  position: relative;
  top: -116px;
  left: 150px;
  width: 110px;
}

#lifeExpRatesPopup {
  display: none;
  position: fixed;
  width: 280px;
  height: 160px;
  padding: 10px;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  border: 4px solid red;
  background-color:#DEDFDE;
  z-index: 1000;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#lifeExpCloseButton {
  position: relative;
  bottom: 10px;
}


#lifeExpRatesPopup p {margin-bottom: 10px;}
#lifeExpRatesPopup .closeButton {
  position: relative;
  margin: 10px auto;
  top: -15px;
}

.lifeExpInput { 
  width: 40px;
}

.pyrlabelm { 
  position: absolute;
  font-size: 8px;
  left: 15px;
}

.pyrlabelf { 
  position: absolute;
  font-size: 8px;
  left: 320px;
}

#fp0 {
  top: 42px;
}

#fp1 {
  top: 53px;
}

#fp2 {
  top: 64px;
}

#fp3 {
  top: 75px;
}

#fp4 {
  top: 86px;
}

#fp5 {
  top: 97px;
}

#fp6 {
  top: 108px;
}

#fp7 {
  top: 119px;
}

#fp8 {
  top: 130px;
}

#fp9 {
  top: 141px;
}

#fp10 {
  top: 152px;
}

#fp11 {
  top: 163px;
}

#fp12 {
  top: 174px;
}

#fp13 {
  top: 185px;
}

#fp14 {
  top: 196px;
}

#fp15 {
  top: 207px;
}

#fp16 {
  top: 218px;
}

#fp17 {
  top: 229px;
}

#fp18 {
  top: 240px;
}

#fp19 {
  top: 251px;
}

#fp20 {
  top: 262px;
}
