/* Generic element styling */
* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  text-align: center;
}

button {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Element-specific styling */
#container {
  position: relative;
  top: 0;
  left: 0;
  width: 1060px;
  height: 372px;
  background-color: #efe;
}

#pyramidPanel { 
  position: absolute;
  width: 350px;
  height: 300px;
  top: 0;
  left: 0;
}

#popChartPanel { 
  position: absolute;
  top: 30px;
  left: 350px;
  width: 450px;
  height: 270px;
}

#simPanel { 
  position: relative;
  width: 255px;
  height: 300px;
  top: 0;
  left: 800px;
}

/* .output is where we send text messages to explain what is going on */
.output {
  position: absolute;
  height: 60px;
  width: 1048px;
  top: 301px;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.countryField {
  position: absolute;
  width: 450px;
  top: -25px;
  color: purple;
  font-size: 20px;
}

.childrenField {
  position: absolute;
  width: 125px;
  top: 231px;
  left: 26px;
  font-size: 20px;
}

.lifeExpField {
  position: absolute;
  width: 125px;
  top: 231px;
  left: 162px;
  font-size: 20px;
}

.netMigField {
  position: absolute;
  width: 125px;
  top: 231px;
  left: 297px;
  font-size: 20px;
}

.initPopField {
  position: absolute;
  width: 255px;
  top: 27px;
}

.currYearField {
  position: absolute;
  width: 255px;
  top: 65px;
}

.currPopField {
  position: absolute;
  width: 255px;
  top: 80px;
}

#fertilityButton, #lifeExpButton, #netMigButton {
  position: relative;
  top: -75px;
  left: 24px;
  width: 126px;
  margin: 3px;
}

#simBackButton, #simOptionsButton, #simForwardButton {
  position: relative;
  top: -80px;
  left: 35px;
  width: 60px;
}

#optionsDropDown {
  font-size: 11px;
}
